@import "nullstyle.css";

body {
    background: rgba(141, 38, 0, 0.72);
    padding: 50px;
    color: aliceblue;
    font-size: 32px;
}
.body-win {
    background: #ecec0c;
    color: black;
}
.body-over {
    background: #363636;
}
button {
    padding: 5px 10px;
    background: aliceblue;
    color: black;
    font-size: 24px;
    text-align: center;
    border: #363636 1px solid;
    border-radius: 10px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
}

.title {
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.title h1 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
    margin: 0 0 70px 0;
}
.title__ask {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}
.title__ask:before {
    content: '';
    background: aliceblue;
    width: 100%;
    height: 5px;
    position: absolute;
    top: 50%;
}
.title__ask div {
    background: aliceblue;
    color: black;
    padding: 15px 35px;
    margin: 0 auto;
    z-index: 2;
}

.content {
    display: flex;
    justify-content: space-between;
    padding: 0 500px;
}
.content__input {
    display: flex;
    flex-direction: column;
    width: 130px;
}
.content__input input {
    font-size: 50px;
    color: black;
    background: aliceblue;
    padding: 0 0 0 10px;
    border: black 3px solid;
    width: 130px;
}
.content__input-button {
    width: 130px;
    text-align: center;
}
.content__text {
    font-size: 40px;
}
.content__input div,
.content__text div {
    margin: 0 0 20px 0;
}